body {
    background-color: #dee8eb;
    display: flex;
}
header {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    width: 1340px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 50px auto;
}
button {
    position: inherit;
    text-align: center;
    height: 45px;
}
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}
.menu,
#logo,
#menuHome,
#menuAbout,
#menuContact {
    position: inherit;
}
.textBasic {
    font-family: Roboto;
    font-size: 25px;
    letter-spacing: 0;
}
.menu {
    left: 481px;
    top: 35px;
}
#logo {
    width: 148.8px;
    height: 44.4px;
    left: 52px;
    top: 26px;
}
#menuHome {
    text-align: left;
}
#menuAbout {
    text-align: center;
    left: 140px;
}
#menuContact {
    text-align: right;
    left: 290px;
}
#registerButton {
    background-color: #cfb7ae;
    left: 1168px;
    top: 27px;
}
#loginButton {
    background-color: #aec6cf;
    left: 1068px;
    top: 27px;
}
/* .content {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    width: 1340px;
    height: 774px;
    position: absolute;
    left: 50px;
    top: 200px;
} */
