@import url(/css/baseSheet.css);
header {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    width: 1340px;
    height: 100px;
    margin: 50px auto;
}
button {
    height: 45px;
}
#loginButton:hover,
#registerButton:hover {
    outline: none;
    color: #000000;
    background-color: #64d79d;
}
.menu,
#logo,
#menuHome,
#menuAbout,
#menuContact {
    position: inherit;
}
.menu {
    left: 481px;
    top: 35px;
}
#logo {
    width: 148.8px;
    height: 44.4px;
    left: 52px;
    top: 26px;
}
#menuHome {
    text-align: left;
}
#menuAbout {
    text-align: center;
    left: 140px;
}
#menuContact {
    text-align: right;
    left: 290px;
}
#loginButton {
    color: #000000;
    background-color: #64d7d6;
    left: 1068px;
    top: 27px;
}
#registerButton {
    background-color: #649fd7;
    left: 1168px;
    top: 27px;
}
.mainWindow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    width: 1340px;
    height: 1070px;
    position: inherit;
    left: 50px;
    top: 200px;
    margin: 200px auto;
}
