body {
    background-color: #dee8eb;
    display: flex;
}
header {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    width: 1340px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 50px auto;
}
.logo {
    color: #000000;
    width: 114px;
    height: 47px;
    position: absolute;
    left: 52px;
    top: 26px;
    font-family: Roboto;
    text-align: left;
    font-size: 40px;
    letter-spacing: 0;
}
.main_menu {
    width: 378px;
    height: 30px;
    position: absolute;
    left: 481px;
    top: 35px;
}
.main_menu_home {
    color: #000000;
    width: 68px;
    height: 29px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Roboto;
    text-align: left;
    font-size: 25px;
    letter-spacing: 0;
}
.main_menu_about {
    color: #000000;
    width: 67px;
    height: 29px;
    position: absolute;
    left: 140px;
    top: 1px;
    font-family: Roboto;
    text-align: center;
    font-size: 25px;
    letter-spacing: 0;
}
.main_menu_contact {
    color: #000000;
    width: 88px;
    height: 29px;
    position: absolute;
    left: 290px;
    top: 1px;
    font-family: Roboto;
    text-align: right;
    font-size: 25px;
    letter-spacing: 0;
}
.register_button {
    width: 120px;
    height: 45px;
    position: absolute;
    left: 1168px;
    top: 27px;
}
.register_button_background {
    background-color: #cfb7ae;
    width: 120px;
    height: 45px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.register_button_text {
    color: #000000;
    width: 95px;
    height: 29px;
    position: absolute;
    left: 12px;
    top: 8px;
    font-family: Roboto;
    text-align: center;
    font-size: 25px;
    letter-spacing: 0;
}
.login_button {
    width: 92px;
    height: 45px;
    position: absolute;
    left: 1068px;
    top: 27px;
}
.login_button_background {
    background-color: #aec6cf;
    width: 92px;
    height: 45px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.login_button_text {
    color: #000000;
    width: 62.65945816040039px;
    height: 29px;
    position: absolute;
    left: 13.92431640625px;
    top: 8px;
    font-family: Roboto;
    text-align: center;
    font-size: 25px;
    letter-spacing: 0;
}
.content {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    width: 1340px;
    height: 774px;
    position: absolute;
    left: 50px;
    top: 200px;
}
