body {
    background-color: #dee8eb;
    display: flex;
}
main {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    width: 840px;
    height: 600px;
    margin: auto;
}
form {
    width: 800px;
    height: 560px;
    margin: auto;
}
input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}
main,
form,
#submitButton {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.logo {
    width: 297.6px;
    height: 88.8px;
    position: absolute;
    left: 425px;
    top: 0px;
}
#salutationField {
    width: 200px;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 0px;
}
#fname {
    width: 375px;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 100px;
}
#lname {
    width: 375px;
    height: 60px;
    position: absolute;
    left: 425px;
    top: 100px;
}
#email {
    width: 800px;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 200px;
}
#login {
    width: 375px;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 300px;
}
#birth {
    width: 375px;
    height: 60px;
    position: absolute;
    left: 425px;
    top: 300px;
}
#pwd {
    width: 375px;
    height: 60px;
    position: absolute;
    left: 425px;
    top: 400px;
}
#pwd_confirm {
    width: 375px;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 400px;
}
#submitButton {
    background-color: #cfb7ae;
    width: 120px;
    height: 45px;
    margin: 500px auto;
    font-family: Roboto;
    text-align: center;
    font-size: 25px;
    letter-spacing: 0;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
}
