/* IMPORT CUSTOM COLORS */
@import url(/css/colors.css);
/* IMPORT FONT FACES */
@import url(/css/fonts.css);

/* REMOVAL OF BROWSER BASE STYLE SHEET OUTLINES */
textarea,
select,
input,
button {
    outline: none;
}

/* DEFINE SELECTORS */
body {
    background-color: var(--background);
    padding: 1rem;
    min-height: 100vh;
}

/* BUTTONS */
button {
    height: 3rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border-width: 0.15rem;
    border-color: #000000;
    border-style: solid;
}
button:hover {
    outline: none;
    background-color: var(--green);
    color: #000000;
}
button:active {
    background-color: var(--green);
    box-shadow: 2px 2px #666;
    transform: translateY(4px);
}

/* INPUTS */
input {
    background: transparent;
    border: none;
    border-bottom: 0.1rem solid #000000;
    /* position: absolute; */
}
input:focus {
    border-bottom: 0.125rem solid var(--cyan);
}

/* REFERENCES */
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
a:hover {
    background: transparent;
    border: none;
    border-bottom: 0.125rem solid var(--cyan);
}

/* TEXT */
.textBasic {
    font-family: 'SourceSerifPro-Regular', monospace;
    font-size: 25px;
    letter-spacing: 0;
}
.textField::placeholder {
    color: var(--placeholder);
}
