/* IMPORT CUSTOMIZED BASE CONFIGURATION OF MULTIPLE ELEMENTS */
@import url(/css/baseSheet.css);

/* DECLARATION OF FLEX PARENT */
header {
    background-color: var(--foreground);
    box-shadow: 0px 4px 4px var(--shadow);
    padding: 1rem;
    min-width: 50rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* DEFINITION OF FLEX CHILDREN */
li {
    display: inline;
    margin-right: 2rem;
}
#logo {
    width: 148.8px;
    height: 44.4px;
}
#loginButton {
    background-color: var(--cyan);
}
#registerButton {
    background-color: var(--blue);
}
#loginButton:hover,
#registerButton:hover {
    outline: none;
    color: #000000;
    background-color: var(--green);
}

/* MAIN CONTENT (TBI) */
#content {
    background-color: var(--foreground);
    box-shadow: 0px 4px 4px var(--shadow);
    margin-top: 2rem;
}
