/* IMPORT CUSTOMIZED BASE CONFIGURATION OF MULTIPLE ELEMENTS */
@import url(/css/baseSheet.css);

/* MAIN GRID */
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
main {
    box-shadow: 0px 4px 4px var(--shadow);
    background-color: var(--foreground);
    min-width: 50rem;
    max-width: 60rem;
    align-self: center;
    justify-self: center;
}

/* FORM GRID */
form {
    box-shadow: 0px 4px 4px var(--shadow);
    background-color: var(--foreground);
    display: grid;
    padding: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6fr;
    grid-template-areas:
        'salutation logo'
        'fName lName'
        'email email'
        'login birth'
        'pwd pwdConfirm'
        'register register';
    gap: 2rem;
}

/* DEFINITION OF FORM GRID CHILDREN */
button {
    background-color: var(--blue);
    grid-area: register;
    justify-self: center;
    width: 10rem;
}
#logo {
    grid-area: logo;
    justify-self: end;
    width: 297.6px;
    height: 88.8px;
}
#salutationField {
    grid-area: salutation;
    /* doesn't work for some reason? */
    align-self: end;
}
#fName {
    grid-area: fName;
}
#lName {
    grid-area: lName;
}
#email {
    grid-area: email;
}
#login {
    grid-area: login;
}
#birth {
    grid-area: birth;
}
#pwd {
    grid-area: pwd;
}
#pwdConfirm {
    grid-area: pwdConfirm;
}

/* CHANGE ELEMENTS DEPENDANT ON SCREEN SIZE */
@media only screen and (max-width: 1200px) {
    main {
        min-width: 15rem;
    }
    /* FORM GRID */
    form {
        padding: 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: 10fr;
        grid-template-areas:
            'logo'
            'salutation '
            'fName '
            'lName'
            'email'
            'login '
            'birth'
            'pwd '
            'pwdConfirm'
            'register ';
        gap: 0.5rem;
    }
}
