/* IMPORT CUSTOMIZED BASE CONFIGURATION OF MULTIPLE ELEMENTS */
@import url(/css/baseSheet.css);

/* DECLARATION OF FLEX PARENT */
header {
    background-color: var(--foreground);
    box-shadow: 0px 4px 4px var(--shadow);
    padding: 1rem;
    /*min-width: 50rem;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* DEFINITION OF FLEX CHILDREN */
.inlineList {
    display: inline;
    margin-right: 2rem;
}

#logo {
    width: 148.8px;
    height: 44.4px;
}
#loginButton,
#profileButton {
    background-color: var(--cyan);
}
#registerButton {
    background-color: var(--blue);
}
#logoutButton {
    background-color: var(--red);
}
#loginButton:hover,
#registerButton:hover,
#profileButton:hover,
#logoutButton:hover {
    outline: none;
    color: #000000;
    background-color: var(--green);
}

/* MAIN CONTENT (TBI) */

#content {
    /* display: grid;
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'mainContent';
    gap: 2rem; */
    margin-top: 2rem;
}
#main,
#about,
#contact {
    /* background-color: var(--foreground); */
    /* box-shadow: 0px 4px 4px var(--shadow); */
    grid-area: mainContent;
    justify-self: start;
}

#main > div,
#about > div,
#contact > div {
    font-size: 25px;
    padding: 2rem;
    background-color: var(--foreground);
    box-shadow: 0px 4px 4px var(--shadow);
    margin-bottom: 2rem;
}

#aboutFirstChild {
    background-color: blue;
}

/* CHANGE ELEMENTS DEPENDANT ON SCREEN SIZE */
@media only screen and (max-width: 1200px) {
    #headerNav,
    #headerNavButtons {
        display: none;
    }
    #sideNavButton {
        display: block;
        background-color: var(--cyan);
    }
    #sideHome:hover,
    #sideAbout:hover,
    #sideContact:hover {
        cursor: pointer;
        border-bottom: 0.125rem solid var(--cyan);
    }

    #sideNav {
        background-color: var(--foreground);
        box-shadow: 0px 4px 4px var(--shadow);
        grid-area: sideBar;
        width: 10rem;
        justify-self: end;
        overflow-x: hidden;
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    #content {
        display: grid;
        padding: 0;
        grid-template-columns: 5fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 'mainContent sideBar';
        gap: 2rem;
        margin-top: 2rem;
    }

    .sideNavItem {
        margin: 0.2rem;
    }

    .sideNavButton {
        margin-top: 2rem;
    }
}
