table {
    width: 50%; 
    border: 1px black solid; 
    background-color: aquamarine;
}
th, td {
    padding: 5px;
    max-width: 10em;
    text-align: center;
    border: 1px black solid;
    border-radius: 5px;
    background-color: azure;
    height: 2em;
    overflow:hidden;
}
#editUser, #deleteUser {
    background-color: transparent;
    border: none;
    width: 1em;
}
#icon {
    width: 2em;
    height: 2em;
}